<% content_for :content do %>

      <h1>The Axess</h1>
      <p class="lead text-warning">Fast remote copy paste</p>
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control font-monospace" id="title" placeholder="Your title">
      </div>
      <div class="mb-3">
        <label for="pasteText" class="form-label">Paste your text here:</label>
        <textarea class="form-control font-monospace" id="pasteText" rows="12" placeholder="Your text"></textarea>
      </div>
      <p class="lead">
        <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Save</a>
      </p>

<% end %>
