<% content_for :content do %>

  <h1>The Axess</h1>
  <p class="lead text-warning">Paste collection</p>
  <div class="list-group">
    <% @pastes.each do |paste| %>
        <a class="list-group-item list-group-item-action" href="/pastes/<%= paste.id %>"><%= paste.title %></a>
    <% end %>
  </div>


<% end %>